body {
    background-image: url("../images/gym.png");
    background-size: cover;
    overflow-x: hidden;
}

#main {
    display: grid;
    grid-area: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.day {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    width: 300px;
    text-align: center;
}

#workout {
    margin-left: 25%;
    color: black;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
    color: antiquewhite;
}

#hm {
    width: 50px;
    position: absolute;
    left: 5px;
    top: 5px;
}

#player {
    background-color: rgba(0, 0, 0, 0.6);
    width: 200px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 78%;
    left: 77%;
}

.track-art {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 10px;
}

.track-name {
    font-size: 15px;
    color: white;
    position: relative;
    left: 10%;
    bottom: 40%;
}

.buttons {
    position: absolute;
    top: 30px;
    right: 8%;
}

.buttons img {
    width: 30px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 15px;
}

.imgbg {
    height: inherit;
    width: inherit;
}

#g {
    font-size: 35px;
    color: rgba(255, 255, 255, 0.1);
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    left: 91%;
    top: 50%;
}

.countdown-container {
    background-color: rgba(10, 10, 100, 0);
    color: white;
    text-align: center;
    width: 220px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 85%;

}

.countdown-box {
    display: flex;
    align-items: center;
}

input[type="number"] {
    width: 2em;
    font-size: 1.2em;
    border: none;
}

#resetButton{
        background-color: rgba(255,0 , 0, 0.3);
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin: 5px;
        border-radius: 30%;
    }
#startButton {
    background-color:rgba( 0, 200, 0, 0.3);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 30%;
}

#timerAudio {
    display: none;
    /* Hide the audio element */
}